/*Larger Font*/
.Font {
  font-size: 20px !important;
}
/* To stick footer at the buttom */
.app-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important; 
}
.content {
  flex: 1 !important; 
}
